* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --accent-color: #BA9653;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);

  background-color: #007A33;
  color: var(--accent-color);
}

.dark {
  --background-color: #333;
  --text-color: white;
  --button-text-color: white;
  
  background-color: var(--background-color);
  padding-bottom: 100%;
}

.darkmode {
  color: black;
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
  float: right;
}

.navbar {
  height: 60px;
  text-align: right;
  display: contents;
  justify-content: space-between;
  list-style: none;
}

.nav-links {
  padding-top: 10px;
  /* background-color: red; */
}

.nav-links li {
  display: inline-block;
  font-size: 18px;
  padding: 0px 20px;
  /* background-color: blue; */
}

.nav-links li a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  /* background-color: red; */
}

.darktoggle {
  text-align: right;
  background-color: yellow;
}

.title {
  padding-top: 50px;
  font-size: 24px;
  text-align: center;
}

.title p {
  font-size: 18px;
}

.searchbar {
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
}

.searchlabel {
  padding-right: 5px;
}